/*----------------------------------------*\

Layout-header

\*----------------------------------------*/

.layout-header {
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ccc;

	background-color: #fff;
}

.layout-header--home {	
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}

/*----------------------------------------*\

Layout-plans

\*----------------------------------------*/

.layout-plans {
	padding: 80px 0;
}


/*----------------------------------------*\

Layout-main-call

\*----------------------------------------*/

.layout-main-call {
	margin: 60px 0 0 0;
	padding: 8rem;

	background-color: #7ab55c;
}

/*----------------------------------------*\

Layout-testimony

\*----------------------------------------*/

.layout-testimony {
	padding: 80px 0;

	background-color: #e2e2e2;
}

/*----------------------------------------*\

Layout-footer

\*----------------------------------------*/

.layout-footer {
	padding: 40px 0;
	
	background-color: #484848;
	color: #fff;
	
	text-align: center;
}